{% extends 'base/base.html' %}

{% block title %}Inventory List{% endblock title %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <div class="breadcrumbs-inner">
        <div class="row m-0">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Dashboard</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li><a href="#">Dashboard</a></li>
                            <li><a href="#">Inventory</a></li>
                            <li class="active">List</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock breadcrumbs %}

{% block content %}
<div class="container">
    <form method="get" style="padding: 0rem 1rem 1rem 1rem;" class="form-input">
        {{inventory_filter.form}}

        <button class="btn btn-primary" style="margin-bottom: 5px; padding: 0 0.75rem; font-size: 15px;"
            type="submit">Search</button>
    </form>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row m-0">
                        <div class="col-sm-4" style="align-self: center;">
                            <h4 class="box-title">Inventory List </h4>
                        </div>
                        <div class="col-sm-8">
                            <a class="btn btn-primary m-2" style="padding: 0.25rem 0.75rem;
                    font-size: 15px;
                    margin: 0!important;
                    float: right;" href="{% url 'create-pdf' %}">Create PDF</a>
                        </div>
                    </div>
                </div>
                <div class="card-body--">
                    <div class="table-stats order-table ov-h">
                        <table class="table ">
                            <thead>
                                <tr>
                                    <th class="serial">#</th>
                                    <th>Device Name</th>
                                    <th>Company/User</th>
                                    <th style="text-align: center;">Quantity</th>
                                    <th style="text-align: center;">Condition</th>
                                    <th> </th>
                                    <!-- <th>Purchase Date</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                {% if inventory %}
                                {% for inventory in inventory %}
                                <tr>
                                    <td class="serial">{{ forloop.counter }}</td>
                                    <td>{{ inventory.device_name }} {{ inventory.category }}</td>
                                    <td>{{ inventory.company_or_user }}</td>
                                    <td style="text-align: center;">{{ inventory.quantity }}</td>
                                    <td style="text-align: center;">{{ inventory.condition }}</td>
                                    <td>
                                        <a class="btn btn-info btn-sm mr-2"
                                            href="{% url 'inventory-item-edit' inventory.id %}">Edit</a>
                                        <a class="btn btn-danger btn-sm ml-2"
                                            href="{% url 'inventory-item-delete' inventory.id %}">Delete</a>
                                    </td>
                                    <!-- <td>{{ inventory.purchase_date }}</td> -->
                                </tr>
                                {% endfor %}
                                {% else %}
                                <tr>
                                    <td colspan="6" style="text-align: center; font-size: 15px;">No Inventory Data</td>
                                </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div> <!-- /.table-stats -->
                </div>
            </div> <!-- /.card -->
        </div> <!-- /.col-lg-8 -->


    </div>
</div>
{% endblock content %}